<div class="modal-dialog">
  <form class="modal-content" {{action 'confirm' on="submit"}}>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Create domain</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="domain-name">Domain name</label>
        {{input value=model.name id="domain-name" class="form-control input-lg"}}
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" {{action 'cancel'}}>Close</button>
      {{#data-button class="btn-primary" model=model}}Create{{/data-button}}
    </div>
  </form>
</div>


